openapi: 3.0.3
info:
  title: 'Portal Inovasi'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://portal-inovasi-sig.my.id'
paths:
  /api/user:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/chart-data:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  dataBar:
                    labels:
                      - Jan
                      - Feb
                      - Mar
                      - Apr
                      - May
                    datasets:
                      -
                        label: 'Sample Data'
                        data:
                          - 100
                          - 20
                          - 15
                          - 25
                          - 30
                        backgroundColor: 'rgba(75, 192, 192, 0.2)'
                        borderColor: 'rgba(75, 192, 192, 1)'
                        borderWidth: 1
                  dataHBar:
                    labels:
                      - 'PT Semen Indonesia Group'
                      - 'PT Semen Gresik'
                      - 'PT Semen Tonasa'
                      - 'PT Semen Baturaja'
                      - 'PT Semen Padang'
                      - 'PT Solusi Bangun Indonesia'
                    datasets:
                      -
                        label: 'Benefit Perusahaan (dalam miliar)'
                        data:
                          - 110
                          - 50
                          - 78
                          - 65
                          - 59
                          - 49
                        backgroundColor:
                          - 'rgba(75, 192, 192, 0.2)'
                          - 'rgba(255, 99, 132, 0.2)'
                          - 'rgba(255, 205, 86, 0.2)'
                          - 'rgba(54, 162, 235, 0.2)'
                          - 'rgba(153, 102, 255, 0.2)'
                        borderColor:
                          - 'rgba(75, 192, 192, 1)'
                          - 'rgba(255, 99, 132, 1)'
                          - 'rgba(255, 205, 86, 1)'
                          - 'rgba(54, 162, 235, 1)'
                          - 'rgba(153, 102, 255, 1)'
                        borderWidth: 1
                  dataLine:
                    labels:
                      - 'PT Semen Indonesia Group'
                      - 'PT Semen Gresik'
                      - 'PT Semen Tonasa'
                      - 'PT Semen Baturaja'
                      - 'PT Semen Padang'
                      - 'PT Solusi Bangun Indonesia'
                    datasets:
                      -
                        label: 'Benefit Perusahaan (dalam miliar)'
                        data:
                          - 110
                          - 50
                          - 78
                          - 65
                          - 59
                          - 49
                        backgroundColor:
                          - 'rgba(75, 192, 192, 0.2)'
                          - 'rgba(255, 99, 132, 0.2)'
                          - 'rgba(255, 205, 86, 0.2)'
                          - 'rgba(54, 162, 235, 0.2)'
                          - 'rgba(153, 102, 255, 0.2)'
                        borderColor:
                          - 'rgba(75, 192, 192, 1)'
                          - 'rgba(255, 99, 132, 1)'
                          - 'rgba(255, 205, 86, 1)'
                          - 'rgba(54, 162, 235, 1)'
                          - 'rgba(153, 102, 255, 1)'
                        borderWidth: 1
                  dataPie:
                    labels:
                      - SIG
                      - SMGR
                      - SMTNS
                      - SMBR
                      - SMPD
                      - SMCB
                    datasets:
                      -
                        label: 'Benefit Perusahaan (dalam miliar)'
                        data:
                          - 110
                          - 50
                          - 78
                          - 65
                          - 59
                          - 49
                        backgroundColor:
                          - 'rgba(75, 192, 192, 0.2)'
                          - 'rgba(255, 99, 132, 0.2)'
                          - 'rgba(255, 205, 86, 0.2)'
                          - 'rgba(54, 162, 235, 0.2)'
                          - 'rgba(153, 102, 255, 0.2)'
                        borderColor:
                          - 'rgba(75, 192, 192, 1)'
                          - 'rgba(255, 99, 132, 1)'
                          - 'rgba(255, 205, 86, 1)'
                          - 'rgba(54, 162, 235, 1)'
                          - 'rgba(153, 102, 255, 1)'
                properties:
                  dataBar:
                    type: object
                    example:
                      labels:
                        - Jan
                        - Feb
                        - Mar
                        - Apr
                        - May
                      datasets:
                        -
                          label: 'Sample Data'
                          data:
                            - 100
                            - 20
                            - 15
                            - 25
                            - 30
                          backgroundColor: 'rgba(75, 192, 192, 0.2)'
                          borderColor: 'rgba(75, 192, 192, 1)'
                          borderWidth: 1
                  dataHBar:
                    type: object
                    example:
                      labels:
                        - 'PT Semen Indonesia Group'
                        - 'PT Semen Gresik'
                        - 'PT Semen Tonasa'
                        - 'PT Semen Baturaja'
                        - 'PT Semen Padang'
                        - 'PT Solusi Bangun Indonesia'
                      datasets:
                        -
                          label: 'Benefit Perusahaan (dalam miliar)'
                          data:
                            - 110
                            - 50
                            - 78
                            - 65
                            - 59
                            - 49
                          backgroundColor:
                            - 'rgba(75, 192, 192, 0.2)'
                            - 'rgba(255, 99, 132, 0.2)'
                            - 'rgba(255, 205, 86, 0.2)'
                            - 'rgba(54, 162, 235, 0.2)'
                            - 'rgba(153, 102, 255, 0.2)'
                          borderColor:
                            - 'rgba(75, 192, 192, 1)'
                            - 'rgba(255, 99, 132, 1)'
                            - 'rgba(255, 205, 86, 1)'
                            - 'rgba(54, 162, 235, 1)'
                            - 'rgba(153, 102, 255, 1)'
                          borderWidth: 1
                  dataLine:
                    type: object
                    example:
                      labels:
                        - 'PT Semen Indonesia Group'
                        - 'PT Semen Gresik'
                        - 'PT Semen Tonasa'
                        - 'PT Semen Baturaja'
                        - 'PT Semen Padang'
                        - 'PT Solusi Bangun Indonesia'
                      datasets:
                        -
                          label: 'Benefit Perusahaan (dalam miliar)'
                          data:
                            - 110
                            - 50
                            - 78
                            - 65
                            - 59
                            - 49
                          backgroundColor:
                            - 'rgba(75, 192, 192, 0.2)'
                            - 'rgba(255, 99, 132, 0.2)'
                            - 'rgba(255, 205, 86, 0.2)'
                            - 'rgba(54, 162, 235, 0.2)'
                            - 'rgba(153, 102, 255, 0.2)'
                          borderColor:
                            - 'rgba(75, 192, 192, 1)'
                            - 'rgba(255, 99, 132, 1)'
                            - 'rgba(255, 205, 86, 1)'
                            - 'rgba(54, 162, 235, 1)'
                            - 'rgba(153, 102, 255, 1)'
                          borderWidth: 1
                  dataPie:
                    type: object
                    example:
                      labels:
                        - SIG
                        - SMGR
                        - SMTNS
                        - SMBR
                        - SMPD
                        - SMCB
                      datasets:
                        -
                          label: 'Benefit Perusahaan (dalam miliar)'
                          data:
                            - 110
                            - 50
                            - 78
                            - 65
                            - 59
                            - 49
                          backgroundColor:
                            - 'rgba(75, 192, 192, 0.2)'
                            - 'rgba(255, 99, 132, 0.2)'
                            - 'rgba(255, 205, 86, 0.2)'
                            - 'rgba(54, 162, 235, 0.2)'
                            - 'rgba(153, 102, 255, 0.2)'
                          borderColor:
                            - 'rgba(75, 192, 192, 1)'
                            - 'rgba(255, 99, 132, 1)'
                            - 'rgba(255, 205, 86, 1)'
                            - 'rgba(54, 162, 235, 1)'
                            - 'rgba(153, 102, 255, 1)'
      tags:
        - Endpoints
      security: []
  /api/dashboard/total-benefit-chart-data:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Attempt to read property "role" on null'
                  exception: ErrorException
                  file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                  line: 19
                  trace:
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                      line: 270
                      function: handleError
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                      line: 19
                      function: 'Illuminate\Foundation\Bootstrap\{closure}'
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: App\Http\Middleware\Role
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 126
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 92
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 54
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 797
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 776
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 740
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 729
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 190
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\livewire\livewire\src\DisableBrowserCache.php'
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Livewire\DisableBrowserCache
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 165
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 134
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 89
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 122
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 69
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 47
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 661
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 183
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Command\Command.php'
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 152
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 1078
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                      line: 102
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 155
                      function: run
                      class: Illuminate\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\artisan'
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Attempt to read property "role" on null'
                  exception:
                    type: string
                    example: ErrorException
                  file:
                    type: string
                    example: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                  line:
                    type: integer
                    example: 19
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                        line: 270
                        function: handleError
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                        line: 19
                        function: 'Illuminate\Foundation\Bootstrap\{closure}'
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: App\Http\Middleware\Role
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 126
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 92
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 54
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 797
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 776
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 740
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 729
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 190
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\livewire\livewire\src\DisableBrowserCache.php'
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Livewire\DisableBrowserCache
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 165
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 134
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 89
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 122
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 69
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 47
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 661
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 183
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Command\Command.php'
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 152
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 1078
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                        line: 102
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 155
                        function: run
                        class: Illuminate\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\artisan'
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  /api/dashboard/total-potential-benefit-chart-data:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Attempt to read property "role" on null'
                  exception: ErrorException
                  file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                  line: 19
                  trace:
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                      line: 270
                      function: handleError
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                      line: 19
                      function: 'Illuminate\Foundation\Bootstrap\{closure}'
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: App\Http\Middleware\Role
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 126
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 92
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 54
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 797
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 776
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 740
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 729
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 190
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\livewire\livewire\src\DisableBrowserCache.php'
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Livewire\DisableBrowserCache
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 165
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 134
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 89
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 122
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 69
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 47
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 661
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 183
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Command\Command.php'
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 152
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 1078
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                      line: 102
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 155
                      function: run
                      class: Illuminate\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\artisan'
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Attempt to read property "role" on null'
                  exception:
                    type: string
                    example: ErrorException
                  file:
                    type: string
                    example: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                  line:
                    type: integer
                    example: 19
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                        line: 270
                        function: handleError
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                        line: 19
                        function: 'Illuminate\Foundation\Bootstrap\{closure}'
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: App\Http\Middleware\Role
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 126
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 92
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 54
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 797
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 776
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 740
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 729
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 190
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\livewire\livewire\src\DisableBrowserCache.php'
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Livewire\DisableBrowserCache
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 165
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 134
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 89
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 122
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 69
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 47
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 661
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 183
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Command\Command.php'
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 152
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 1078
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\symfony\console\Application.php'
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                        line: 102
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 155
                        function: run
                        class: Illuminate\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\farianti\kmi-project\artisan'
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
      tags:
        - Endpoints
      security: []
  /api/dashboard/financial-benefit:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Attempt to read property "role" on null'
                  exception: ErrorException
                  file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                  line: 19
                  trace:
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                      line: 270
                      function: handleError
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\app\Http\Middleware\Role.php'
                      line: 19
                      function: 'Illuminate\Foundation\Bootstrap\{closure}'
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: App\Http\Middleware\Role
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 126
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 92
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 54
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\farianti\kmi-project\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: handle
[...]
